
.banner{
  width: 100%;
  position: relative;
}
.banner img{
  width: 100%;
}
.menu{
  width: 100%;
  height: 100px;

  top:0px;
  position: absolute;
  display: flex;
  align-items: center;
}
.logo{
  width: 10%;
  float: left;
  margin-left: 20px;
}
.main-menu{
  width: 80%;
  float: left;
  text-align: right;
  padding-right: 20px;
}
.item{
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  padding-left: 30px;
}
.item a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
}
.item a:hover{
  color: #D80D0D;

}
.event{
  width: 100%;
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}
.event p{
  margin:auto;
  color: white;
  padding: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: #FFFFFF;
}
.letter{
  text-shadow: 0px 0px 3px white;
}
@keyframes fade {
       50% {
           opacity: 0.02;
       }
}
.letter:nth-child(1) {
        -webkit-animation: fade 2s infinite 200ms;
        animation: fade 2s infinite 200ms;
}
.letter:nth-child(2) {
        -webkit-animation: fade 2s infinite 400ms;
        animation: fade 2s infinite 400ms;
 }
.letter:nth-child(3) {
        -webkit-animation: fade 2s infinite 600ms;
        animation: fade 2s infinite 600ms;
 }

 .chuong-trinh{
   width: 100%;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .chuong-trinh h1{
   margin: auto;
   width: 20%;
   text-align: center;
   border: 1px solid black;
   background-color: rgba(0,0,0,0.2);
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
 }
 .chuong-trinh h1:hover{
   background-color: rgba(119,136,153);
 }
 .noidung{
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .noidung p{
   margin: auto;
   width: 50%;
   text-align: left;
   background-color:rgba(0,0,0,0.2);
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 20px;
   font-weight: bold;
 }
 .noidung p:hover{
   background-color: rgba(128,128,128,0.5);
 }
 .main-noidung{
   background:url(nen1.jpeg)center/cover fixed no-repeat;
 }

 .anh{
   width: 100%;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .anh h1{
   margin: auto;
   width: 20%;
   text-align: center;
   border: 1px solid black;
   background-color: rgba(0,0,0,0.2);
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
 }
.anh h1:hover{
  background-color: rgba(119,136,153);
}
 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }
 .row {
  width: 100%;
}

.img {
  width: 33.3333%;
  float: left;
  padding: 15px;

}
.main-anh{
  width: 100%;
  height: 670px;
  background:url(nen4.jpeg)center/cover fixed no-repeat;
}

.row img {
  width: 100%;
  border: 2px solid white;
  height: 300px;
}
.main-anh img:hover{
  transform: translate(0,-10px);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5)
}
.dien-gia{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.dien-gia h1{
  margin: auto;
  width: 20%;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dien-gia h1:hover{
  background-color: rgba(119,136,153);
}
.nguoi img{
  width: 100%;
  border: 1px solid white;
  height: 100%;
  transition: all 0.5s linear;
}
.people{
  float: left;
  width: 25%;
  padding: 40px;

}
.nguoi{
  overflow: hidden;
}
.nguoi img:hover{
  transform: scale(1.2);

}
.one{
  width: 100%;
  margin: auto;
  position: relative;
  height: 270px;
  background:url(nen3.jpeg)center/cover fixed no-repeat;
}
.two{
  width: 65%;
  margin: auto;
  padding: 10px;
}

.name h2{
  text-align: center;

}
.name p{
  text-align: center;

}
.dang-ky{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.dang-ky h1{
  margin: auto;
  width: 20%;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dang-ky a:hover{
  color: red;
}

.dang-ky a{
  text-decoration: none;
}
.dia-diem{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.dia-diem h1{
  margin: auto;
  width: 20%;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dia-diem h1:hover{
  background-color: rgba(119,136,153);
}
iframe{
  width: 100%;
}
.dang-ky h1:hover{
  background-color: rgba(119,136,153);
}
.footer{
  width: 100%;
  padding-top: 30px;

}
#goTop{
  position: fixed;
  right: 30px;
  bottom:30px;
  width: 30px;
  height: 30px;
}
#goTop img{
  width: 100%;
  height: 100%;
}

.footer p{
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: #4169E1;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}
